/* Add CSS styles for your web site here and use them in index.html. */
/* Add CSS styles for your web site here and use them in index.html. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
}


.topnav {
overflow: hidden;
display: flex;
justify-content: flex-end;
position: relative;
z-index: 2;
font-size: large;
border: #fff;
background-color: #fff;

}

.topnav a {
float: left;
color: rgb(176, 168, 168); /* White text */
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: 300;
font-family: "Bitcount Prop Single", system-ui;
 

transition: color 0.3s ease;

}

.topnav a:hover { 
color: black;

}


.topnav a.active {
color: black; /* Gold text for active link */
}


p {
    color: black;
    font-size: 30px;
    margin-top: 220px;
    margin-left: 80px;
    background-color: #fff;
    padding: 10px;
    border: 2px solid black;
    font-family: "Explora", serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.text {
    margin-right: 120px;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50px;
}

.container {
    position: relative;
}

.bdimg {
    top: -200px;
    width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 0;
}

h3 {
    color: black;
    position: relative;
    top: -100px;
    font-size: 100px;
    text-align: center;
    font-family: "Slabo 27px", serif;
}
