/* Add CSS styles for your web site here and use them in index.html. */
/* Navigation Bar */
/* Navigation Bar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
overflow: hidden;
display: flex;
justify-content: flex-end;
position: relative;
z-index: 2;
font-size: large;
border: #fff;
background-color: #fff;

}

.topnav a {
float: left;
color: rgb(176, 168, 168); /* White text */
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: 300;
font-family: "Bitcount Prop Single", system-ui;
 

transition: color 0.3s ease;

}

.topnav a:hover { 
color: black;

}


.topnav a.active {
color: black; /* Gold text for active link */
}

html{
    background-image: url(black.jpg);
    background-size: fill;
}

img {
    display: block;
     margin:auto;
     border: 2px solid white ;
     border-radius: 20px ;
}
