/* Add CSS styles for your web site here and use them in index.html. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    background-color: black;
}


.topnav {
overflow: hidden;
display: flex;
justify-content: flex-end;
position: relative;
z-index: 2;
font-size: large;
border: #fff;
background-color: #fff;

}

.topnav a {
float: left;
color: rgb(176, 168, 168); /* White text */
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: 300;
font-family: "Bitcount Prop Single", system-ui;
 

transition: color 0.3s ease;

}

.topnav a:hover { 
color: black;

}


.topnav a.active {
color: black; /* Gold text for active link */
}

         table {
           margin-top: 30px;
           width:100%;
           border-collapse: separate;
            border-spacing: 5px;
           
  
            
             
         table, th,td {
         background-color: transparent;

        }
    }
        .tablecolor {
            background-color: transparent
        }

        td{
            padding:20px;
            background-color: #fff;
            text-align:left;
            border-radius: 20px;
            overflow: hidden;
        }
        td img {
        border-radius: 5px;
     }   
        
        #movie-rating {
            color:white;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .fav {
           
            background-color:rgb(232, 51, 51);
            color:white;
            text-align: center;
           
        }
        .rate {
            color:black;
            background-color: white;
            text-align:center;
            
        }
        td{
            height:30px
        }
        .values {
            text-align: center;
            font-style:italic;
            font-weight:bold;
            font-size:25px;
            color: #fff;
            
        }

        .titles {
            color: #fff;
            font-size:30px;
            font-weight:bold;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
            
        }
        th {
            column-width:100px;
            text-align: center;

        }
        .image {
 transition: 0.2s ease;
    display: block;
    margin-top: 20px;
  margin: auto;
}

       

.image:hover {
    transform: scale(1.2);
    cursor: pointer;
     filter: brightness(1.2) ;
}
